body {
    font-family: "PT Sans Narrow", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 375px;
    border: 1px solid red;
}

header {
    align-items: center;
}

.foto {
    width: 160px;
    height: 160px;
    border-radius: 175px;
}

p {
    font-size: 18px;
}

h2 {
    font-size: 32px;
    font-family: "Playfair Display", serif;
}

h1 {
    font-size: 56px;
    font-family: "Playfair Display", serif;
}